*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    justify-content: center;
    align-items: center;
    
}

header h2{
    padding: 2rem;
}
header h2 a{
    text-decoration: none;
    color: black;
}

.search-form{
    padding:2rem;
    display: flex;
}
.search-form input{
    font-size: 1.5rem;
    padding: 0.75rem;
    width: 100%;
    border: 2px soild rgb(74,68,131);
}

.search-form button{
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: rgb(74,68,131);
    color: white;
}

.gallery{
    margin: 3rem 5vw;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(20rem, 1fr)) ;
}
.gallery-image{
    height: 80vh;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-image img{
    height: 80%;
    width: 100%;
    object-fit: cover;
}
.gallery-image p,a{
    margin: 1rem;
}
.nav-bth{
    display: flex;
    justify-content: center;
    padding: 2.5rem;

}
.more{
    border: none;
    padding: 0.5rem 5rem;
    font-size: 1rem;
    background-color: rgb(74,68,131);
    color: white;
}